* {
    margin: 0;
}

h1 {
    text-align: center;
    padding: 40px 0 17px 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin-right: 40px;
}

nav ul li {
    list-style: none;
}

header {
    background-image: url(../../img/banner.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

.headerDescription {
    padding: 20px 0;
    text-align: center;
}

.headerDescription p {
    height: 30%;
    align-content: center;
    text-align: center;
    padding: 90px 0 20px 0;
}

.headerDescription button {
    width: 100px;
    padding: 10px;
    margin-right: 25px;
}


/*NOUS CONTACTER*/

iframe {
    max-width: 100%;
}



/*FONTS*/
h1 {
    font-family: 'Freehand', Arial, Helvetica, sans-serif;
    font-size: 40px;
}