/*GENERAL*/
* {
    margin: 0;
}
    /*Polices de caractères Google Fonts*/
    h1 {
        font-family: 'Freehand', Arial, Helvetica, sans-serif;
    }

    h2, .headerDescription p, #aPropos p, #aPropos button {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    }
    /*Fin*/
/*FIN GENERAL*/



/*TITRES*/
h1 {
    font-size: 35px !important;
    
    color: white !important;
}
/*FIN TITRES*/



/*NAVIGATION*/
    /*Général*/
    nav {
        position: relative;
        padding: 30px !important;
    }
    /*Fin*/

    /*Liens de navigation*/
    nav ul li {
        list-style: none;
    }
    .navbar-nav {
        --bs-navbar-color: rgb(255 255 255);
    }
    /*Affichage en plein écran*/
    .navbar-collapse {
        background-color: #3e4149;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .navbar-toggler, h1 {
        z-index: 1;
    }
    /*Fin*/

    /*Toggler icon navigation*/
    .custom-toggler.navbar-toggler {
        border: none;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .custom-toggler:focus, .navbar-toggler:focus{
        box-shadow: none !important;
    }
    /*Fin*/
/*FIN NAVIGATION*/


/*HEADER*/
    /*Général*/
    header {
        height: 100vh;
    }
    /*Fin*/

    /*Vidéo*/
    header video {
        position: absolute;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        z-index: -2;
    }
    /*Fin*/

    /*Description*/
    .headerDescription {
    color: white;
    height: 60%;
    align-content: center;
    text-align: center;
    }
        /*Paragraphe*/
        .headerDescription p {
            font-size: 29px;
            padding: 0 50px;
        }
        /*Bouton Voir la carte*/
        .buttonHeaderDescription {
            padding-bottom: 60px;
        }
        .buttonHeaderDescription button {
            width: 40%;
            background: transparent;
            border: 2px solid white;
            color: white;
            padding: 10px 0;
            margin-top: 20px;
            
        }
        .buttonHeaderDescription button:focus {
            background-color: white;
            color: black;
            transition: background-color 1s;
            transition: color 1s;
        }
        /*Icône Font Awesome*/
        .headerDescription i {
            font-size: 30px;
            color: white;
        }
    /*Fin*/
/*FIN HEADER*/



/*NOS SERVICES*/
    /*Général*/
    #nosServices {
        background-image: url(../../img/bgCarouselServices.png);
        background-attachment: fixed;
        background-position : center;
        background-repeat : no-repeat;
        background-size : cover;
        min-height: 100vh;
        color: white;
        position: relative;
        z-index: 0;
        text-align: center;
    }
    /*Fin*/

    /*Phrase d'en tête*/
    #nosServices p:nth-child(1) {
        font-size: 11px;
    }
    /*Fin*/

    /*Titre*/

    /*Fin*/

    /*Carousel*/
    
    /*Fin*/

    /*Test*/
    .test {
        background-image: url(../../img/pexels-george-dolgikh-551816-1303081\ \(1\).jpg);
        background-position : center;
        background-repeat : no-repeat;
        background-size : cover;
        min-height: 80vh;
        position: absolute;
        top: -10%;
        right: 0;
        z-index: -1;
        width: 75%;
    }
    /*Fin*/
/*FIN NOS SERVICES*/



/*NOTRE HISTOIRE*/
    /*Général*/
    #aPropos {
        margin: 40px;
        text-align: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    /*Fin*/

    /*Phrase d'en-tête*/
    #aPropos p:nth-child(1) {
        font-size: 11px;
    }
    /*Fin*/

    /*Titre*/
    #aPropos h2 {
        padding: 7px 0 20px 0;
    }
    /*Fin*/

    /*Paragraphe*/
    #aPropos p:nth-child(0n+3) {
        line-height: 33px;
    }
    /*Fin*/
/*FIN NOTRE HISTOIRE*/



/*NOTRE EQUIPE*/
    /*Général*/
    #notreEquipe {
        text-align: center;
        height: 100vh;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    /*Fin*/

    /*Phrase d'en-tête*/
    #notreEquipe p:nth-child(1){
        font-size: 11px;
    }
    /*Fin*/

    /*Titre*/
    #notreEquipe h2 {
        margin-bottom: 40px;
    }

    /*Carousel*/
        /*Images*/
        #notreEquipe img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            opacity: .6;
        }
        /*Caption*/
        .carousel-caption {
            height: 100%;
            padding: 0;
            width: 70%;
            color: black !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-self: center;
        }
    /*Fin*/


/*FIN NOTRE EQUIPE*/



/*NOUS CONTACTER*/
    /*Carte Google Maps*/
    iframe {
        max-width: 100%;
    }
    /*Fin*/
/*FIN NOUS CONTACTER*/